html {
    background-color: beige;
    height: 100%;
}
body {
    margin: 0;
}

.ladoALado{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

img{
    height: 100%;
    width: 20%;
}

.texto{
    width: 60%;
    font-size: 24px;
}
