.divImagensHeader {
    padding-top: 0.5rem;
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagensHeader {
    width: 4rem;
    height: 4rem;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    margin-left: 4rem;
}

.divHeader {
    background-color: #55684e;
    display: flex;
    flex-direction: row;
    width: 100;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.btnVoltar {
    border: none;
    display: inline-block; 
    padding: 8px 16px;
    vertical-align: middle; 
    overflow: hidden; 
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center; 
    cursor: pointer;
    white-space: nowrap;
    font-size: 24px;
}

.hoverBotao:hover{color:#000;background-color: rgb(50, 71, 49)}