html {
    background-color: beige;
    height: 100%;
}
body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ladoALado{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.texto{
    width: 60%;
    font-size: 24px;
}

.imagemComLink {
    width: 20rem;
}

.imagemComLink img {
    width: 80%;
}

.imagem {
    width: 25rem;
    height: 25rem;
}

.ficha {
    margin-left: 4rem;
    margin-top: 2rem;
    width: 60%;
    font-size: 1.2rem;
}

.ficha ul {
    margin-left: 3rem;
}

.ficha ol {
    margin-left: 3rem;
}


.textoSoneto{
    width: 40%;
    font-size: 24px;
}
