#div{
    background-color: yellowgreen;
    width: 50%;
    height: 10rem;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.divnadiv{
    margin: auto;
    display: flex;
    gap: 10px;
}

.btnEnviar{
    margin: auto;
    width: 20%;
}
